@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-div {
  height: 38rem;
}

/*Media Querries*/
@media only screen and (max-width: 1023px) {
  .hero-video {
    display: none;
  }
  .hero-div {
    height: 39rem;
  }
}
