@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-div {
  height: 38rem;
}
.cat-boxes {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.cat-text {
  text-shadow: 0px 0px 1px rgba(60, 64, 67, 0.3);
}

/*Media Querries*/
@media only screen and (max-width: 1023px) {
  .hero-video {
    display: none;
  }
  .hero-div {
    height: 39rem;
  }
}
