@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-div {
  height: 38rem;
}

.heroimg {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.cat-boxes {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.cat-text {
  text-shadow: 0px 0px 1px rgba(60, 64, 67, 0.3);
}
.mentor-box {
  width: 182px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding: 6px;
}

/*Media Querries*/
@media only screen and (max-width: 1023px) {
  .hero-video {
    display: none;
  }
  .heroimg {
    display: none;
  }
  .hero-div {
    height: 39rem;
  }
  #search {
    width: 18rem;
  }
}
@media only screen and (max-width: 1594px) {
  .heroimg {
    width: 100%;
    height: 297px;
    box-sizing: border-box;
  }
}
